* {
	border-radius: 0;
}

h1{
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

#button{
	font-family: 'Raleway', sans-serif;
}
.jumbotron{
	background-color: #333333;
	color: white;
	margin-top: 2rem;
	text-align: center;
}

.panel-heading{
	background-color: #333333;
	border-color: #333333;
}

.panel-body{
	border-color: #333333;
}

.panel-primary {
	border-color: #333333;
}


.btn{
	margin-right: 2px;
	background-color: #555555;
	border-color: #555555;
}

.row{
	border-bottom: solid;
	border-color: #333333;
}

.label{
	margin-right: 4px;
}
.saveBtn{
	margin-top: 20px;
}